.social {
  list-style: none;
  margin: 0;
  padding: 20px 0;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 23px;
}

.social__icon {
  fill: #666666;

  &:hover {
    fill: $base-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon--vk {
  width: 23px;
  height: 13px;
}

.social__icon--inst {
  width: 17px;
  height: 17px;
}

.social__icon--fb {
  width: 10px;
  height: 20px;
}

@media (min-width: $tablet-width) {
  .social__item {
    margin-right: 26px;
  }

  .social__link {
    width: auto;
    height: auto;
  }

  .social__icon--vk {
    width: 33px;
    height: 18px;
  }

  .social__icon--inst {
    width: 24px;
    height: 24px;
  }

  .social__icon--fb {
    width: 15px;
    height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .social__icon--fb {
    width: 19px;
    height: 28px;
  }
}