@font-face {
  font-family: 'oswaldregular';
  font-display: swap;
  src: url('../fonts/oswaldregular.woff2') format('woff2'),
        url('../fonts/oswaldregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}