html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: $font-text;
  line-height: 1.3;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

picture {
  display: block;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.wrapper {
  min-width: 320px;
  overflow: hidden;
}

.container {
  width: 280px;
  margin: 0 auto;
}

.title {
  margin: 0;

  font-family: 'oswaldregular', 'Arial', sans-serif;
  font-size: 35px;
  font-weight: 500;
  color: $font-title;

  line-height: 1;
  letter-spacing: 0.5px;
}

.title--white {
  color: $light;
}

.title--center {
  text-align: center;
}

.subtitle {
  margin: 0;

  font-family: 'oswaldregular', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: $light;
  text-transform: uppercase;

  text-align: center;
}

.btn {
  display: block;
  text-decoration: none;

  width: 100%;
  padding: 8px 0;

  text-align: center;
  font-family: 'oswaldregular', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #68b738;
  border: 0;

  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus {
    outline: none;
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, .3);
  }
}

.btn--gray {
  background-color: $gray-light;
  color: #222222;

  &:hover {
    background-color: #ebebeb;
  }

  &:focus {
    outline: none;
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, .3);
  }
}

